.button {
    display: inline-block;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #7f5af0;
    color: #fffffe;
    box-shadow: 10px 10px 10px black;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
}

.button:hover {
  transform: scale(1.10);
}

@media (max-width: 767px) {
    .button {
        width: 90px;
        font-size: 0.9rem;
    }
}

.buttonC {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    margin-top: 0.9rem;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #7f5af0;
    color: #fffffe;
    box-shadow: 10px 10px 10px black;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
}

.buttonC:hover {
    transform: scale(1.05);
}
