:root {
  font-family: proximanova, sans-serif;
  line-height: 1.8;
  font-weight: 400;
  font-size: 18px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

p {
  font-size: 1.2em;
  color: #94a1b2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


